.about {
  height: 100vh;
  background-color: var(--bg-dark);
}
.about-info {
  height: 35vh;
}
.about-info-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
  gap: 8%;
}
.about-info-text {
  font-size: var(--font-sise-sm);
  color: var(--lite-violet);
}
.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: var(--lite-violet);
}
.speedometr-icon {
  min-width: 215px;
}
.licence-icon {
  min-width: 215px;
}

@media screen and (max-width: 1650px) {
  .speedometr-icon {
    min-width: 180px;
  }
  .licence-icon {
    min-width: 180px;
  }
}
@media screen and (max-width: 1400px) {
  .about-info-content {
    padding: 0 120px;
    gap: 8%;
  }
  .speedometr-icon {
    min-width: 150px;
  }
  .licence-icon {
    min-width: 150px;
  }
}
@media screen and (max-width: 1150px) {
  .about-info-content {
    padding: 0 80px;
    gap: 8%;
  }
  .speedometr-icon {
    min-width: 120px;
  }
  .licence-icon {
    min-width: 120px;
  }
  .about-logo-img {
    width: 150px;
  }
}
@media screen and (max-width: 1000px) {
  .about-info-content {
    padding: 0 60px;
    gap: 4%;
  }
  .speedometr-icon {
    min-width: 100px;
  }
  .licence-icon {
    min-width: 100px;
  }
  .about-logo-img {
    width: 120px;
  }
}
