.main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--lite-violet);
}
.main-info {
  width: 100%;
}
.main-info-title {
  height: 70%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main-info-title-text {
  color: var(--dark-violet);
  font-size: 120px;
}
.main-info-desk {
  height: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--bg-dark);
}
.main-info-desk-text {
  color: var(--lite-violet);
  text-align: center;
  width: 80%;
  font-size: var(--font-sise-sm);
}
.main-img {
  width: 42%;
}

@media screen and (max-width: 1650px) {
  .main-info-title-text {
    font-size: 100px;
  }
}
@media screen and (max-width: 1400px) {
  .main-info-title-text {
    font-size: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .main-info-title-text {
    font-size: 58px;
  }
}
@media screen and (max-width: 440px) {
  .main-info-title-text {
    font-size: 50px;
  }
}
