.header-container {
  display: flex;
  gap: 70px;
  align-items: center;
  margin-top: 40px;
  margin-left: 140px;
  position: fixed;
  top: 0;
}

.header-link-dark {
  color: var(--lite-violet);
}
.header-link-light {
  color: #000;
}
.header-link-dark svg path {
  stroke: var(--lite-violet);
}
.header-link-light svg path {
  stroke: #000;
}
.header-link-dark-active,
.header-link-light-active {
  color: var(--dark-violet);
}
.header-link-dark-active svg path,
.header-link-light-active svg path {
  stroke: var(--dark-violet);
}
.header-link-undefined,
.header-link-undefined-active {
  opacity: 0;
}

@media screen and (max-width: 1650px) {
  .header-container {
    gap: 60px;
    margin-top: 30px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 1400px) {
  .header-container {
    gap: 40px;
    margin-top: 20px;
    margin-left: 80px;
  }
  .header-link {
    font-size: 15px;
  }
  .header-logo {
    width: 35px;
  }
}
@media screen and (max-width: 1150px) {
  .header-container {
    gap: 30px;
    margin-top: 20px;
    margin-left: 40px;
  }
  .header-link {
    font-size: 13px;
  }
  .header-logo {
    width: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .header-container {
    gap: 25px;
    margin-top: 15px;
    margin-left: 30px;
  }
  .header-link {
    font-size: 11px;
  }
  .header-logo {
    width: 25px;
  }
}
